In [11]:
#import libraries, etc, to handle code
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

file_path = 'medianAskingRent_All.csv'

In [12]:
#import csv from easystreet with pricing by borough
df = pd.read_csv(file_path)

In [13]:
#drop the borough entered as NaN
df.dropna(subset=['Borough'], inplace=True)

#print the csv top 10 rows
print(df.head(10))

              areaName    Borough      areaType  2010-01  2010-02  2010-03  \
0         All Downtown  Manhattan     submarket   3200.0   3200.0   3020.0
1          All Midtown  Manhattan     submarket   2875.0   2800.0   2800.0
2  All Upper East Side  Manhattan     submarket   2450.0   2450.0   2400.0
3  All Upper Manhattan  Manhattan     submarket   1825.0   1800.0   1795.0
4  All Upper West Side  Manhattan     submarket   2895.0   2800.0   2750.0
5              Astoria     Queens  neighborhood   1600.0   1650.0   1620.0
6           Auburndale     Queens  neighborhood      NaN      NaN      NaN
7           Bath Beach   Brooklyn  neighborhood      NaN      NaN      NaN
8    Battery Park City  Manhattan  neighborhood   3495.0   3346.0   3268.0
9            Bay Ridge   Brooklyn  neighborhood   1350.0   1375.0   1350.0

   2010-04  2010-05  2010-06  2010-07  ...  2022-12  2023-01  2023-02  \
0   3100.0   3100.0   3200.0   3195.0  ...   4800.0   4844.0   4951.0
1   2850.0   2895.0   2950.0   3000.0  ...   4378.0   4390.0   4499.0
2   2500.0   2550.0   2550.0   2595.0  ...   3800.0   3900.0   4000.0
3   1800.0   1823.0   1850.0   1875.0  ...   2600.0   2650.0   2697.0
4   2800.0   2800.0   2795.0   2800.0  ...   4450.0   4450.0   4445.0
5   1600.0   1700.0   1700.0   1600.0  ...   2600.0   2695.0   2695.0
6      NaN      NaN      NaN      NaN  ...      NaN   2450.0   2700.0
7      NaN      NaN      NaN      NaN  ...   1700.0   1750.0   1960.0
8   3295.0   3100.0   3395.0   3200.0  ...   5350.0   5413.0   5695.0
9   1350.0   1350.0   1350.0   1300.0  ...   2200.0   2350.0   2312.0

   2023-03  2023-04  2023-05  2023-06  2023-07  2023-08  2023-09
0   4800.0   4875.0   4950.0   4950.0   4900.0   4850.0   4900.0
1   4495.0   4581.0   4500.0   4500.0   4500.0   4500.0   4500.0
2   3995.0   3970.0   3995.0   4000.0   4000.0   3995.0   4000.0
3   2725.0   2800.0   2838.0   2950.0   2900.0   2900.0   2897.0
4   4495.0   4500.0   4463.0   4400.0   4500.0   4500.0   4500.0
5   2750.0   2750.0   2750.0   2800.0   2888.0   2899.0   2850.0
6   2100.0   2050.0   2275.0   2275.0   2495.0   2937.0   2887.0
7   1982.0   2150.0   2300.0   1900.0   1975.0   2250.0   2350.0
8   5438.0   5500.0   5758.0   5545.0   5999.0   6153.0   5850.0
9   2200.0   2150.0   2200.0   2299.0   2275.0   2388.0   2500.0

[10 rows x 168 columns]

In [14]:
# Create a list of all unique boroughs from the "Borough" column
unique_boroughs = df['Borough'].unique()

# Initialize an empty DataFrame to store the results with column names specified directly
columns_to_include = df.columns[3:]
result_df = pd.DataFrame(columns=['Borough'] + list(columns_to_include))

In [15]:
# go through each borough listing and create a combined df for each
for borough in unique_boroughs:
    # Select only rows for the current borough
    borough_df = df[df['Borough'] == borough]

    # Calculate the median rental price for each date entry, excluding NaN values
    median_rental_prices = borough_df[columns_to_include].median(skipna=True).apply(lambda x: "${:.2f}".format(x))

    # Create a dictionary with borough and formatted median rental prices
    borough_data = {'Borough': borough}
    borough_data.update(median_rental_prices)

    # Append the data to the result DataFrame
    result_df = result_df.append(borough_data, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [9]:
# Reset the index of the result DataFrame
result_df.reset_index(drop=True, inplace=True)

In [10]:
#print the new dataframe
print(result_df)

Empty DataFrame
Columns: [Borough, 2010-01, 2010-02, 2010-03, 2010-04, 2010-05, 2010-06, 2010-07, 2010-08, 2010-09, 2010-10, 2010-11, 2010-12, 2011-01, 2011-02, 2011-03, 2011-04, 2011-05, 2011-06, 2011-07, 2011-08, 2011-09, 2011-10, 2011-11, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, 2016-06, 2016-07, 2016-08, 2016-09, 2016-10, 2016-11, 2016-12, 2017-01, 2017-02, 2017-03, 2017-04, 2017-05, 2017-06, 2017-07, 2017-08, 2017-09, 2017-10, 2017-11, 2017-12, 2018-01, 2018-02, 2018-03, ...]
Index: []

[0 rows x 166 columns]

NameError: name 'result_df' is not defined