In [8]:
#import libraries, etc, to handle code
import pandas as pd
file_path = 'medianAskingRent_All.csv'

In [9]:
#import csv from easystreet with pricing by borough
df = pd.read_csv(file_path)

In [10]:
#drop the borough entered as NaN
df = df.dropna(subset=['Borough'])

# Define the list of columns to include (starting from the 4th column)
columns_to_include = df.columns[3:]

#print the csv top 10 rows
print(df.head(10))

              areaName    Borough      areaType  2010-01  2010-02  2010-03  \
0         All Downtown  Manhattan     submarket   3200.0   3200.0   3020.0
1          All Midtown  Manhattan     submarket   2875.0   2800.0   2800.0
2  All Upper East Side  Manhattan     submarket   2450.0   2450.0   2400.0
3  All Upper Manhattan  Manhattan     submarket   1825.0   1800.0   1795.0
4  All Upper West Side  Manhattan     submarket   2895.0   2800.0   2750.0
5              Astoria     Queens  neighborhood   1600.0   1650.0   1620.0
6           Auburndale     Queens  neighborhood      NaN      NaN      NaN
7           Bath Beach   Brooklyn  neighborhood      NaN      NaN      NaN
8    Battery Park City  Manhattan  neighborhood   3495.0   3346.0   3268.0
9            Bay Ridge   Brooklyn  neighborhood   1350.0   1375.0   1350.0

   2010-04  2010-05  2010-06  2010-07  ...  2022-12  2023-01  2023-02  \
0   3100.0   3100.0   3200.0   3195.0  ...   4800.0   4844.0   4951.0
1   2850.0   2895.0   2950.0   3000.0  ...   4378.0   4390.0   4499.0
2   2500.0   2550.0   2550.0   2595.0  ...   3800.0   3900.0   4000.0
3   1800.0   1823.0   1850.0   1875.0  ...   2600.0   2650.0   2697.0
4   2800.0   2800.0   2795.0   2800.0  ...   4450.0   4450.0   4445.0
5   1600.0   1700.0   1700.0   1600.0  ...   2600.0   2695.0   2695.0
6      NaN      NaN      NaN      NaN  ...      NaN   2450.0   2700.0
7      NaN      NaN      NaN      NaN  ...   1700.0   1750.0   1960.0
8   3295.0   3100.0   3395.0   3200.0  ...   5350.0   5413.0   5695.0
9   1350.0   1350.0   1350.0   1300.0  ...   2200.0   2350.0   2312.0

   2023-03  2023-04  2023-05  2023-06  2023-07  2023-08  2023-09
0   4800.0   4875.0   4950.0   4950.0   4900.0   4850.0   4900.0
1   4495.0   4581.0   4500.0   4500.0   4500.0   4500.0   4500.0
2   3995.0   3970.0   3995.0   4000.0   4000.0   3995.0   4000.0
3   2725.0   2800.0   2838.0   2950.0   2900.0   2900.0   2897.0
4   4495.0   4500.0   4463.0   4400.0   4500.0   4500.0   4500.0
5   2750.0   2750.0   2750.0   2800.0   2888.0   2899.0   2850.0
6   2100.0   2050.0   2275.0   2275.0   2495.0   2937.0   2887.0
7   1982.0   2150.0   2300.0   1900.0   1975.0   2250.0   2350.0
8   5438.0   5500.0   5758.0   5545.0   5999.0   6153.0   5850.0
9   2200.0   2150.0   2200.0   2299.0   2275.0   2388.0   2500.0

[10 rows x 168 columns]

In [11]:
# Create a list of all unique boroughs from the "Borough" column
unique_boroughs = df['Borough'].unique()

# Initialize an empty DataFrame to store the results with column names specified directly
result_data = []

In [17]:
# Iterate through each borough
for borough in unique_boroughs:
    # Select only rows for the current borough
    borough_df = df[df['Borough'] == borough]

    # Calculate the median rental price for each date entry, excluding NaN values
    median_rental_prices = borough_df[columns_to_include].median(skipna=True).apply(lambda x: "${:.2f}".format(x))

    # Create a dictionary with borough and formatted median rental prices
    borough_data = {'Borough': borough}
    borough_data.update(median_rental_prices)

    # Append the data to the result list
    result_data.append(borough_data)

In [18]:
# Create a DataFrame from the list of dictionaries
result_df = pd.DataFrame(result_data)

In [19]:
# Reset the index of the result DataFrame
result_df.reset_index(drop=True, inplace=True)

In [20]:
# Save the DataFrame as a CSV file
result_df.to_csv('Output_Median_Rent_DF.csv', index=False)

In [21]:
#print the new dataframe
print(result_df)

         Borough   2010-01   2010-02   2010-03   2010-04   2010-05   2010-06  \
0      Manhattan  $2895.00  $2800.00  $2750.00  $2800.00  $2800.00  $2797.50
1         Queens  $1587.50  $1483.00  $1547.50  $1550.00  $1450.00  $1456.50
2       Brooklyn  $2000.00  $1950.00  $2100.00  $2000.00  $2150.00  $2225.00
3          Bronx  $1392.00  $1396.50  $1404.00  $1440.50  $1600.00  $1500.00
4  Staten Island      $nan      $nan      $nan      $nan      $nan      $nan
5      Manhattan  $2895.00  $2800.00  $2750.00  $2800.00  $2800.00  $2797.50
6         Queens  $1587.50  $1483.00  $1547.50  $1550.00  $1450.00  $1456.50
7       Brooklyn  $2000.00  $1950.00  $2100.00  $2000.00  $2150.00  $2225.00
8          Bronx  $1392.00  $1396.50  $1404.00  $1440.50  $1600.00  $1500.00
9  Staten Island      $nan      $nan      $nan      $nan      $nan      $nan

    2010-07   2010-08   2010-09  ...   2022-12   2023-01   2023-02   2023-03  \
0  $2858.00  $2895.00  $2995.00  ...  $4324.00  $4325.00  $4345.00  $4375.00
1  $1463.00  $1550.00  $1563.00  ...  $2400.00  $2375.00  $2499.00  $2488.00
2  $2300.00  $2200.00  $2350.00  ...  $2975.50  $3000.00  $3000.00  $3000.00
3  $1864.50  $2062.50  $1900.00  ...  $2051.50  $2100.00  $2180.00  $2181.00
4      $nan      $nan      $nan  ...  $2050.00  $2095.00  $2175.00  $2200.00
5  $2858.00  $2895.00  $2995.00  ...  $4324.00  $4325.00  $4345.00  $4375.00
6  $1463.00  $1550.00  $1563.00  ...  $2400.00  $2375.00  $2499.00  $2488.00
7  $2300.00  $2200.00  $2350.00  ...  $2975.50  $3000.00  $3000.00  $3000.00
8  $1864.50  $2062.50  $1900.00  ...  $2051.50  $2100.00  $2180.00  $2181.00
9      $nan      $nan      $nan  ...  $2050.00  $2095.00  $2175.00  $2200.00

    2023-04   2023-05   2023-06   2023-07   2023-08   2023-09
0  $4449.00  $4431.00  $4412.50  $4466.50  $4472.50  $4500.00
1  $2450.00  $2500.00  $2500.00  $2499.50  $2600.00  $2603.00
2  $3072.50  $3137.50  $3200.00  $3100.00  $3200.00  $3175.00
3  $2197.50  $2150.00  $2349.50  $2284.50  $2262.50  $2299.50
4  $2200.00  $2100.00  $2000.00  $1900.00  $2000.00  $2063.00
5  $4449.00  $4431.00  $4412.50  $4466.50  $4472.50  $4500.00
6  $2450.00  $2500.00  $2500.00  $2499.50  $2600.00  $2603.00
7  $3072.50  $3137.50  $3200.00  $3100.00  $3200.00  $3175.00
8  $2197.50  $2150.00  $2349.50  $2284.50  $2262.50  $2299.50
9  $2200.00  $2100.00  $2000.00  $1900.00  $2000.00  $2063.00

[10 rows x 166 columns]